<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='main.css'}}">
    <title>Room Care</title>
</head>
<body>
    <div class= "main">
        <span class = "tit" style="display : inline-block;">ROOM CARE</span>
        <span class = "txt" style="word-spacing: 11em;">거실 커튼 화장실 온도</span>
       
        <div class = "flex_container">

            <div class="livingroom" class ="flex_item">
                <div class="bt" class ="flex_item">
                    ON
                </div>
            </div>
            <div class="livingroom" class ="flex_item">
                <div class="bt" class ="flex_item">
                    OFF
                </div>
                
            </div>
            <div class="livingroom" class ="flex_item">
                <div class="bt" class ="flex_item">
                    ON
                </div>
                
            </div>
        </div>
        <div class="flex_container2">
            <div class="temp" class ="flex_item2">
                temp
            </div>
            <div class="temp" class ="flex_item2">
                humi
            </div>

        </div>
        <span style="color: black;   font-size : 16px;  font-weight: bold; position: fixed;top : 400px; left: 1070px;">
            습도
        </span>
      
</body>
</html>